<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>GreenMile Analizer</h2>
            <h4>Route API</h4>
        </div>
        <img src="https://store-images.s-microsoft.com/image/apps.37035.13510798883268149.0b2ea0ba-40f8-4c9c-af4a-1e9cdf520f58.69db7252-3020-4175-97df-9c87d35deaf2?mode=scale&q=90&h=300&w=300" alt="Foto do usuário">
    </div>

    <mat-divider></mat-divider>
    <h2 matSubheader>Páginas</h2>
    <a mat-list-item routerLinkActivate="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActivate="list-item-active" routerLink="/form">Form</a>
    <a mat-list-item routerLinkActivate="list-item-active" routerLink="/table">Table</a>
    
    <mat-divider></mat-divider>
    
    <h2 matSubheader>Tools</h2>
    <a mat-list-item routerLinkActivate="list-item-active" routerLink="/">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>
    <a mat-list-item routerLinkActivate="list-item-active" routerLink="/">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>
</mat-nav-list>