<div class="container">

    <h2>Minimal Dashboard</h2>

    <div class="row">
        <div class="col-md-6">
            <mat-card>
                <mat-card-title>Create routes</mat-card-title>
                <mat-card-content>
                    <p>Create predefined routes</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-flat-button color="primary"(click)="createRoutes()">Start</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-md-6">
            <mat-card>
                <mat-card-title>Create stops for routes</mat-card-title>
                <mat-card-content>
                    <p>Create predefined stops</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-flat-button color="primary"
                    [disabled]="!(route1 && route2)" (click)="createStopForRoute()">Start</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

    <br>

    <h3>Coordinate requests</h3>
    <mat-card>
        teste
    </mat-card>

    <br>
    <h3>Route health</h3>
    <mat-card *ngIf="route1">
        <mat-card-title>{{route1.routePlan}}</mat-card-title>
        <mat-card-content>
            <p>{{route1 | json}}</p>
        </mat-card-content>
    </mat-card>
    <mat-card *ngIf="route2">
        <mat-card-title>{{route2.routePlan}}</mat-card-title>
        <mat-card-content>
            <p>{{route2 | json}}</p>
        </mat-card-content>
    </mat-card>

    
</div> <!--container-->
